*{
    box-sizing:border-box;
}
    

.background {
    width: 1920px;
    margin:0;
    padding: 30px;
    background-image: url("../images/background.png");

    align-content: center;
    
}

.페이지{
    width:1100px;
    margin: 0 auto;
}

.header__mom {
    position: relative;
}





.header__right {
    position: absolute;
    right:0;
    background: radial-gradient(circle at center, yellow, skyblue, blue, pink);
    width:120px;
    height: 60px;
    
    

}



.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:yellow;
    width:500px;
    height:500px;
    column-gap: 50px;
    row-gap: 20px;
}